@model string
@{
    ViewData["Title"] = "Home Page";
    string username = "";
    if (Context.Request.Cookies["UserName"] is string name)
        username = name;
}
<div>
    @if (Model == "Public")
    {
        <h2>Public chat</h2>
    }
    else
    {
        <h2>This is your chat with @Model</h2>
    }
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            @*<div class="col-2">Destination</div>*@
            <div class="col-4"><input type="hidden" id="destInput" value="@Model" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="button" id="loadLastBtn" class="btn btn-info" value="Load Last" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div id="msgContainerDiv" class="col-8">
            <ul id="messagesList"></ul>
        </div>
    </div>
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-4"><input type="hidden" id="userInput" value="@username" /></div>
        </div>
        <div class="row">
            <div class="col-2">Message</div>
            <div class="col-4"><input type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="button" id="sendButton" class="btn btn-dark"  value="Send Message" />
            </div>
        </div>
    </div>
</div>

<script src="~/js/signalr/signalr.js"></script>
<script src="~/js/chat.js?v=6"></script>

