<div>
    <h2>How to play</h2>
    <div class="howToPlayLine">
        In home page you need to ask for a game with a logged in user like that
        <img src="~/img/askForAGame.png" alt="ask for a game" />
    </div>
    <div class="howToPlayLine">
        The user will get a request and if he will answer yes a game will start
        <img src="~/img/gameRequest.png" alt="game Request" />
    </div>
    <div class="howToPlayLine">
       To start the game the first player must press start new game on bottom options<br />
        After both players will finish a game they can start new one with this option instead sending request
        <img src="~/img/startNewGame.png" alt="game Request" />
    </div>
    <div class="howToPlayLine">
        To move each player in his turn need to roll the dice, and than press the pawn he want to move to the destination
        <br />
        If the move is valid the pawn will move, else a message will appear respondly        <br />
        The Remove selected button is for canceling the click on the pawn you want to move
        <img src="~/img/gameboard.png" alt="gameboard" />
    </div>
    <div class="howToPlayLine">
        If the player tapped twice on pawn he will try to collect it: use a dice to take the pawn out of the gameboard<br />
        The Goal of the game is Collect all his pawns before the other player does!
        Player can't collect if he has a taken/eaten Pawn
    </div>
    <div class="howToPlayLine">
        Players can 'eat' pawns of opponent if they move on a slots with only one enemy pawn<br />
        That pawn will go to the middle of the Gameboard and the opponent will have to start move it from the beginning
    </div>
    <div class="howToPlayLine">
        Players can Give up on turn if they can't move or don't want to<br />
        Players can give up on game if they see they can no longer win
        <img src="~/img/GiveUp.png" alt="GiveUp" />
    </div>
    <div class="howToPlayLine">
        Know that if there is a game on you cant play untill it will end
    </div>
</div>