<div>
    <div>
        <h4>logged in</h4>
        <ul id="ulLoggedIn">
            <li>loading...</li>
        </ul>
    </div>
    <div>
        <h4>logged out</h4>
        <ul id="ulLoggedOut">
            <li>loading...</li>
        </ul>
    </div>
</div>

